<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron bg-primary" style="background-color: #1abc9c; color: #ffffff;">
                <h1>About this Project:</h1>
                <p>This is a multi project was Created by Omri Zeevi !</p>
                <p>Projects:</p>
                <ul>
                    <li><b>W</b>eb <b>A</b>pi project (Server) made in ASP.NET</li>
                    <li><b>S</b>ingle <b>P</b>age <b>A</b>pplication (SPA) Front-End Website</li>
                </ul>
            </div>
        </div>
            <div class="col-md-6">
                <h2>Technologies Used :</h2>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info"><b>Typescript (For OOP advantage)</b></li>
                    <li class="list-group-item list-group-item-info"><b>AngularJS (Including Angular Route)</b></li>
                    <li class="list-group-item list-group-item-info"><b>jQuery</b></li>
                    <li class="list-group-item list-group-item-info"><b>Bootstrap 3</b></li>
                    <li class="list-group-item list-group-item-info"><b>ASP.NET => Web API (Back-end/Server Side)</b></li>
                </ul>
            </div>
        </div>
</div>

<div class="container">
    <div class="jumbotron" style="background-color: #474e5d;color: #ffffff;">
        <h1>What is the "Pimp" app ?</h1>
        <p>
            The app was inspired by the Pickup community. Pickup Artist would tell thier
            trainers to write a report on how they approached women before meeting them
            so they could know how to improve the trainer's social skills with woman
        </p>
        <h3><b>NOTE:</b></h3>
        <p>
            You can use this app to write any type of reports you can think of
            Or even use this as a personal diary
        </p>
    </div>
</div>



